{
  "swagger": "2.0",
  "info": {
    "title": "SendFox API",
    "version": "1.0"
  },
  "host": "api.sendfox.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Gets information for authenticated user.",
        "operationId": "getMe"
      }
    },
    "/lists": {
      "get": {
        "summary": "Gets paginated lists.",
        "operationId": "getLists"        
      },
      "post": {
        "summary": "Creates new list.",
        "operationId": "createList",
        "parameters": [
          {
            "name": "name",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{list_id}/contacts": {
      "get": {
        "summary": "Gets paginated contacts within a list.",
        "operationId": "getContactsInList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "delete": {
        "summary": "Removes contact from list.",
        "operationId": "removeContactFromList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "summary": "Gets paginated contacts.",
        "operationId": "getContacts"
      },
      "post": {
        "summary": "Creates new contact.",
        "operationId": "createContact",
        "parameters": [
          {
            "name": "email",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lists",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ]
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "summary": "Gets contact by ID.",
        "operationId": "getContactById",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/contacts?email={contact_email}": {
      "get": {
        "summary": "Gets contact by email.",
        "operationId": "getContactByEmail",
        "parameters": [
          {
            "name": "contact_email",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/contacts/unsubscribed": {
      "get": {
        "summary": "Gets paginated unsubscribed contacts.",
        "operationId": "getUnsubscribedContacts"
      }
    },
    "/unsubscribe": {
      "patch": {
        "summary": "Unsubscribe contact.",
        "operationId": "unsubscribeContact",
        "parameters": [
          {
            "name": "email",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "summary": "Gets paginated campaigns.",
        "operationId": "getCampaigns"
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "summary": "Gets campaign by ID.",
        "operationId": "getCampaignById",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/automations": {
      "get": {
        "summary": "Gets paginated automations.",
        "operationId": "getAutomations"
      }
    },
    "/automations/{automation_id}": {
      "get": {
        "summary": "Gets automation by ID.",
        "operationId": "getAutomationById",
        "parameters": [
          {
            "name": "automation_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ]
      }
    }
  }
}